// COLOR VARIABLES
$color-primary: #101d2c;
$color-secondary: #18dcff

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: rgb(77, 77, 77);
$color-grey-dark-2: rgb(110, 110, 110);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;