.board {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    color: $color-grey-light-2;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $breakpoint-medium) {
        grid-column: full;
    }

    @media only screen and (max-width: $breakpoint-small) {
        display: none;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

        @media only screen and (max-width: $breakpoint-medium) {
            grid-template-columns: repeat(3, min-content minmax(max-content, 15rem));
        }


    }

    &__img {
        border-radius: 50%;
        display: block;
        width: 7rem;
    }

    &__position {
        text-transform: uppercase;
        font-size: 1.2rem;

    }
}

